<h1>Editing Book</h1>

<%= form_with model:@book, local:true do |f| %>
  <div class="field">
    <h4>Title</h4>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <h4>body</h4>
    <%= f.text_area :body %>
  </div>
  
  <div class="btn">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<%= link_to "show", book_path(@book.id) %>
|
<%= link_to "Back", books_path %>